<!DOCTYPE html>
<html lang="en" dir="ltr" style="height:100%">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
      body {
        padding-top: 100px;
      }
      
      .form-nav label{
        padding-right: 5px;
        color: gray;
      }
      
      .form-nav input{
        margin-right: 10px;
        color: green;
      }
      
      .form-group input{
        display: block;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border: 0;
      }
      
      .form-group label{
        display: block;
        padding-top: 10px;
      }
      
      .form-group helptext{
        padding: 0px;
        margin: 0px;
        border: 0px;
      }
      
    </style>
    <title></title>
    {% load static %}
  </head>
  <body  style="height:100%">
    <nav class="navbar navbar-inverse navbar-fixed-top"  style="min-height: 50px">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'website:homepage' %}"><img src="http://www.bizpow.com/Logo-v2-trans.png" width=115 height=30></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" style="padding-top: 10px">
            <li><a href="{% url 'website:homepage' %}">Home</a></li>
            <li><a href="{% url 'website:about' %}">About</a></li>
            <li><a href="{% url 'website:contactus' %}">Contact Us</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Product #1</a></li>
                <li><a href="#">Product #2</a></li>
                <li><a href="#">Product #3</a></li>
              </ul>
            </li>
          </ul>
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right" style="padding-top: 10px">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, {{ user.username }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Account</a></li>
                <li><a href="{% url 'website:logout' %}">Logout</a></li>
                {% if user.is_superuser %}
                <li class="divider"></li>
                <li><a href="/admin/" target="_blank">Django Admin</a></li>
                <li><a href="{% url 'website:surveyresults' %}">Survey Results</a></li>
                {% endif %}
              </ul>
            </li>
            <li>&nbsp&nbsp&nbsp</li>
          </ul>
          {% else %}
          <div class="form-nav">
            <form class ="navbar-form navbar-right" style="padding: 5px;" action="{% url 'website:createuser' %}">
              <button type="submit" class="btn btn-success">New User</button>
            </form>
            <form class ="navbar-form navbar-right" style="padding: 5px;" action="{% url 'website:login' %}" method="post">
                {% csrf_token %}
                {{ loginform }}
                <button type="submit" class="btn btn-success">Login</button>
            </form>
          </div>
          {% endif %}

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% block content %}
    {% endblock %}
    
    <div style='height:100%'></div>
    <footer class="page-footer navbar-bottom">  
      <div class="container-fluid text-light" style="background: lightgray">
        <div class="container">
          <div class="row" style="padding-top: 20px; padding-bottom: 10px">
            <div class="col-md-12 text-center">
              <h4>Copyright &copy; 2018 BizPow</h4>
            </div>
          </div>
          <div class="row" style="padding-top: 10px; padding-bottom: 10px">
            <div class="col-md-4 text-center">
              <a href="https://www.facebook.com/BizpowSMB/">
              <img src="{% static "website/images/Facebook-icon.png" %}" width=32px>
              </a>
              <h4>Facebook</h4>
            </div>
            <div class="col-md-4 text-center">
              <a href="https://www.linkedin.com/in/esanthony/">
              <img src="{% static "website/images/LinkedIn-icon.png" %}" width=32px>
              </a>
              <h4>LinkedIn</h4>
            </div>
            <div class="col-md-4 text-center">
              <a href ='https://twitter.com/BizPowSMB'>
              <img src="{% static "website/images/Twitter-icon.png" %}" width=32px>
              </a>
              <h4>Twitter</h4>
            </div>
          </div>
        </div>
      </div>
    </footer> 


    <!-- Bootstrap JS -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>